#app {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  font-weight: 400;
}

body {
  background: cadetblue;
}

.fw3 {
  font-weight: 300;
}

.fw4 {
  font-weight: 400;
}

.fw6 {
  font-weight: 600;
}

.fw7 {
  font-weight: 700;
}

.boxshadow {
  box-shadow: rgba(0, 0, 0, 0.05) 1px 4px 1px;
}

.modal-bg {
  background-color: rgb(54, 88, 90);
  color: white;
}

.bg-poke-light {
  background-color: #ffcb05;
}

.poke-btn {
  background-color: #ffcb05;
  color: black;
  font-weight: bold;
}

.poke-btn:hover {
  background-color: #ffcb05;
  color: black;
  font-weight: bold;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.4);
  transform: scale(1.1);
}

.card-bg {
  background-color: rgb(173, 215, 216);
}
.footer-bg {
  background-color: rgb(168, 168, 168);
}
.text-muted {
  color: rgb(185, 185, 185) !important;
}
/*************** BADGE CSS ***************/

/* TYPE/WEAK BADGE SIZE */
h6 {
  font-size: 17px;
}

/* TYPE BADGE COLORS */
.normal {
  background-color: #a8a77a;
  color: white;
}
.fire {
  background-color: #ee8130;
  color: white;
}
.water {
  background-color: #6390f0;
  color: white;
}
.grass {
  background-color: #7ac74c;
  color: white;
}
.electric {
  background-color: #f7d02c;
  color: white;
}
.ice {
  background-color: #96d9d6;
  color: white;
}
.fighting {
  background-color: #c22e28;
  color: white;
}
.poison {
  background-color: #a33ea1;
  color: white;
}
.ground {
  background-color: #e2bf65;
  color: white;
}
.flying {
  background-color: #a98ff3;
  color: white;
}
.psychic {
  background-color: #f95587;
  color: white;
}
.bug {
  background-color: #a6b91a;
  color: white;
}
.rock {
  background-color: #b6a136;
  color: white;
}
.ghost {
  background-color: #735797;
  color: white;
}
.dragon {
  background-color: #6f35fc;
  color: white;
}
.dark {
  background-color: #705746;
  color: white;
}
.steel {
  background-color: #b7b7ce;
  color: white;
}
.fairy {
  background-color: #d685ad;
  color: white;
}

/* LEGENDARY BORDER */
.gradient-border {
  --borderWidth: 6px;
  background: #1d1f20;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #9030a1,
    #2f5bb3,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
